In [4]:
import pandas as pd
import numpy as np
import re

In [5]:
mov = pd.read_csv('movies_dataset.csv')
mov.head()

C:\Users\Mario\AppData\Local\Temp\ipykernel_6316\156969792.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  mov = pd.read_csv('movies_dataset.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Reviso el Dataset:

In [6]:
mov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [7]:
mov.shape

(45466, 24)

Veo Las Columnas Anidadas:

In [8]:
mov['belongs_to_collection']

0        {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                      NaN
2        {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                      NaN
4        {'id': 96871, 'name': 'Father of the Bride Col...
                               ...
45461                                                  NaN
45462                                                  NaN
45463                                                  NaN
45464                                                  NaN
45465                                                  NaN
Name: belongs_to_collection, Length: 45466, dtype: object

In [9]:
mov['genres']

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45466, dtype: object

In [10]:
mov['spoken_languages']

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
45461               [{'iso_639_1': 'fa', 'name': 'فارسی'}]
45462                    [{'iso_639_1': 'tl', 'name': ''}]
45463             [{'iso_639_1': 'en', 'name': 'English'}]
45464                                                   []
45465             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45466, dtype: object

Desanidar Columnas:

Función Para Extraer y Concatenar 'name'.

In [11]:

def extract_concatenate_name(value):
    try:
        pattern = r"'name':\s+'(.*?)'"
        match = re.findall(pattern, value)
        return ', '.join(match)
    except (TypeError, AttributeError):
        return ''

Normalizamos la Columna "belongs_to_collection":

In [12]:
mov['Franquicia'] = mov['belongs_to_collection'].apply(extract_concatenate_name)

Muestro el Resultado

In [13]:
mov['Franquicia'].head(3)

0         Toy Story Collection
1
2    Grumpy Old Men Collection
Name: Franquicia, dtype: object

Normalizamos La Columna "genres":

In [14]:
mov['Genre'] = mov['genres'].apply(extract_concatenate_name)

Muestro El Resultado:

In [15]:
mov['Genre'].head(10)

0           Animation, Comedy, Family
1          Adventure, Fantasy, Family
2                     Romance, Comedy
3              Comedy, Drama, Romance
4                              Comedy
5      Action, Crime, Drama, Thriller
6                     Comedy, Romance
7    Action, Adventure, Drama, Family
8         Action, Adventure, Thriller
9         Adventure, Action, Thriller
Name: Genre, dtype: object

Normalizamos la Columna "production_companies"

In [16]:
mov['Company'] = mov['production_companies'].apply(extract_concatenate_name)

In [17]:
mov['Company'].head(3)

0                              Pixar Animation Studios
1    TriStar Pictures, Teitler Film, Interscope Com...
2                         Warner Bros., Lancaster Gate
Name: Company, dtype: object

Normalizamos la Columna "production_countries":

In [18]:
mov['Country'] = mov['production_countries'].apply(extract_concatenate_name)

Muestro el Resultado:

In [19]:
mov['Country'].head(3)

0    United States of America
1    United States of America
2    United States of America
Name: Country, dtype: object

Normalizamos la columna "spoken_languages":

In [20]:
mov['Spoken_Language'] = mov['spoken_languages'].apply(extract_concatenate_name)

Muestro el Resultado:

In [21]:
mov['Spoken_Language'].head(3)

0              English
1    English, Français
2              English
Name: Spoken_Language, dtype: object

Visualizo como me quedo despues de Nomalizar:

In [22]:
mov.head(0)

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count, Franquicia, Genre, Company, Country, Spoken_Language]
Index: []

[0 rows x 29 columns]

-Reemplazamos con 0 los registros con valores NULL de las columnas "budget" y "revenue".

In [23]:
mov['budget'].fillna(0, inplace=True)
print('# de valores NULL en el campo budget:', mov.budget.isna().sum())

# de valores NULL en el campo budget: 0

In [24]:
mov['revenue'].fillna(0, inplace=True)
print('# de valores NULL en el campo revenue:', mov.revenue.isna().sum())

# de valores NULL en el campo revenue: 0

- Eliminamos los registros con valores NULL de la columna "release_date".

Damos formato a todos los valores de la columna 'release_date' a los que no se les puede dar formato se les asigna NaT (Not a Time)

In [25]:
mov['release_date'] = pd.to_datetime(mov['release_date'], errors='coerce')

Eliminamos los registros NaT:

In [26]:
mov.dropna(subset = ['release_date'], inplace=True)

Verificamor que no existan NaT:

In [27]:
mov['release_date'].isnull().sum()

0

-Damos formato AAAA-mm-dd a la columna 'release_date', además creamos la columna 'release_year' donde extraemos el año de la columna 'release_date'.

Verifico que todos los registros tengan el mismo formato AAAA-MM-DD

In [28]:
mov['release_date'] = pd.to_datetime(mov['release_date']).dt.strftime('%Y-%m-%d')

-Creo la columna 'release_year' que va a contener el año de la columna 'release_date'

In [29]:
mov['release_year'] = pd.to_datetime(mov['release_date']).dt.year

#Verifico las columnas 'release_date','release_year'

In [30]:
mov[['release_date','release_year']].tail()

      release_date  release_year
45460   1991-05-13          1991
45462   2011-11-17          2011
45463   2003-08-01          2003
45464   1917-10-21          1917
45465   2017-06-09          2017

Creo la columna 'return' que contendra el calculo del retorno de la inversion de la pelicula, el cual es el producto de la division entre las columnas 'revenue' y 'budget'.

Doy un formato a los registros de las columnas 'budget' y 'revenue' a tipo numerico a los que no se les puede dar formato se les asigna el valor NaN (Not a Number).

In [31]:

mov['budget'] = pd.to_numeric(mov['budget'], errors='coerce')
mov['revenue'] = pd.to_numeric(mov['revenue'], errors='coerce')

Realizamos el calculo del retorno de inversión 'return':

In [32]:
mov['return'] = mov['revenue']/mov['budget']
mov['return'].fillna(0, inplace=True)

Elimino las columnas innecesarias: 'video', 'imdb_id', 'adult', 'original_title', 'vote_count', 'poster_path' y 'homepage'.

In [33]:
mov.drop(columns=['video', 'imdb_id', 'adult', 'original_title', 'vote_count', 'poster_path', 'homepage'], inplace = True)

In [34]:
mov.head(0)

Empty DataFrame
Columns: [belongs_to_collection, budget, genres, id, original_language, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, Franquicia, Genre, Company, Country, Spoken_Language, release_year, return]
Index: []

[0 rows x 24 columns]

In [35]:
mov = mov[['id', 'title', 'tagline', 'overview', 'runtime',
                        'original_language', 'Genre', 'Franquicia',
                        'status', 'release_date', 'release_year',
                        'popularity','vote_average',
                        'Company', 'Country', 'Spoken_Language',
                        'revenue', 'budget', 'return']]

In [36]:
mov.head(0)

Empty DataFrame
Columns: [id, title, tagline, overview, runtime, original_language, Genre, Franquicia, status, release_date, release_year, popularity, vote_average, Company, Country, Spoken_Language, revenue, budget, return]
Index: []

In [37]:
# Cambiar el nombre de las columnas
 #nuevos_nombres ={'id':'ID','title':' Title','tagline':' Tagline', 'overview':'Overview', 'runtime': 'Runtime', 'original_language':'Original_Language', 'genre':'Genre',
                 # 'Franquicia':'Franquicia','status':'Status','release_date':'Release_Date','release_year':'Release_Year','popularity':'Popularity','vote_average':'Vote_Average',
                 # 'Company':'Company','Country':'Country','Spoken_Language':'Spoken_Language', 'revenue':'Revenue','budget':'Budget','return':'Return'}

In [38]:
#mov = mov.rename(columns=nuevos_nombres)

In [39]:
movie_info = mov.to_csv('movie_info.csv', index=False, header=True, sep=';')

CREDITS.CSV

Levanto el csv de credits:

In [40]:
mov1 = pd.read_csv('credits.csv')

Lo Muestro:

In [41]:
mov1.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

Voy a utilizar la misma funcion para desanidar la columna Crew que es donde esta la informacion que necesito para los endpoints:

Función para extraer y concatenar 'name'

In [42]:

def extract_concatenate_name(value):
    try:
        pattern = r"'name':\s+'(.*?)'"
        match = re.findall(pattern, value)
        return ', '.join(match)
    except (TypeError, AttributeError):
        return ''

Normalizamos la columna "crew":

In [43]:
mov1['Director'] = mov1['crew'].apply(extract_concatenate_name)

In [44]:
mov1['Director'].head(5)

0    John Lasseter, Joss Whedon, Andrew Stanton, Jo...
1    Larry J. Franco, Jonathan Hensleigh, James Hor...
2    Howard Deutch, Mark Steven Johnson, Mark Steve...
3    Forest Whitaker, Ronald Bass, Ronald Bass, Ezr...
4    Alan Silvestri, Elliot Davis, Nancy Meyers, Na...
Name: Director, dtype: object

#Borro las columnas CAST Y CREW

In [45]:
mov1.drop(columns=['cast', 'crew', 'id'], inplace = True)

GUARDO EL CSV DE CREDITS

In [46]:
movie_dir= mov1.to_csv('movie_dir.csv', index=False, header=True, sep=',')

In [47]:
mov2 = pd.read_csv('movie_dir.csv')
mov2.head()

                                            Director
0  John Lasseter, Joss Whedon, Andrew Stanton, Jo...
1  Larry J. Franco, Jonathan Hensleigh, James Hor...
2  Howard Deutch, Mark Steven Johnson, Mark Steve...
3  Forest Whitaker, Ronald Bass, Ronald Bass, Ezr...
4  Alan Silvestri, Elliot Davis, Nancy Meyers, Na...

In [48]:
VOY A UNIR LOS DATAFRAME EN UNO

SyntaxError: invalid syntax (3568213437.py, line 1)

In [49]:
final = pd.concat([mov, mov1], axis=1)

In [50]:
final.head(25)

,id,title,tagline,overview,runtime,original_language,Genre,Franquicia,status,release_date,release_year,popularity,vote_average,Company,Country,Spoken_Language,revenue,budget,return,Director
0,862,Toy Story,NaN,"Led by Woody, Andy's toys live happily in his ...",81.0,en,"Animation, Comedy, Family",Toy Story Collection,Released,1995-10-30,1995.0,21.946943,7.7,Pixar Animation Studios,United States of America,English,373554033.0,30000000.0,12.451801,"John Lasseter, Joss Whedon, Andrew Stanton, Jo..."
1,8844,Jumanji,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,104.0,en,"Adventure, Fantasy, Family",,Released,1995-12-15,1995.0,17.015539,6.9,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,"English, Français",262797249.0,65000000.0,4.043035,"Larry J. Franco, Jonathan Hensleigh, James Hor..."
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,101.0,en,"Romance, Comedy",Grumpy Old Men Collection,Released,1995-12-22,1995.0,11.7129,6.5,"Warner Bros., Lancaster Gate",United States of America,English,0.0,0.0,0.000000,"Howard Deutch, Mark Steven Johnson, Mark Steve..."
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...",127.0,en,"Comedy, Drama, Romance",,Released,1995-12-22,1995.0,3.859495,6.1,Twentieth Century Fox Film Corporation,United States of America,English,81452156.0,16000000.0,5.090760,"Forest Whitaker, Ronald Bass, Ronald Bass, Ezr..."
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...,106.0,en,Comedy,Father of the Bride Collection,Released,1995-02-10,1995.0,8.387519,5.7,"Sandollar Productions, Touchstone Pictures",United States of America,English,76578911.0,0.0,inf,"Alan Silvestri, Elliot Davis, Nancy Meyers, Na..."
5,949,Heat,A Los Angeles Crime Saga,"Obsessive master thief, Neil McCauley leads a ...",170.0,en,"Action, Crime, Drama, Thriller",,Released,1995-12-15,1995.0,17.924927,7.7,"Regency Enterprises, Forward Pass, Warner Bros.",United States of America,"English, Español",187436818.0,60000000.0,3.123947,"Michael Mann, Michael Mann, Art Linson, Michae..."
6,11860,Sabrina,You are cordially invited to the most surprisi...,An ugly duckling having undergone a remarkable...,127.0,en,"Comedy, Romance",,Released,1995-12-15,1995.0,6.677277,6.2,"Paramount Pictures, Scott Rudin Productions, M...","Germany, United States of America","Français, English",0.0,58000000.0,0.000000,"Sydney Pollack, Barbara Benedek, Sydney Pollac..."
7,45325,Tom and Huck,The Original Bad Boys.,"A mischievous young boy, Tom Sawyer, witnesses...",97.0,en,"Action, Adventure, Drama, Family",,Released,1995-12-22,1995.0,2.561161,5.4,Walt Disney Pictures,United States of America,"English, Deutsch",0.0,0.0,0.000000,"David Loughery, Stephen Sommers, Peter Hewitt,..."
8,9091,Sudden Death,Terror goes into overtime.,International action superstar Jean Claude Van...,106.0,en,"Action, Adventure, Thriller",,Released,1995-12-22,1995.0,5.23158,5.5,"Universal Pictures, Imperial Entertainment, Si...",United States of America,English,64350171.0,35000000.0,1.838576,"Peter Hyams, Karen Elise Baldwin, Gene Quintan..."
9,710,GoldenEye,No limits. No fears. No substitutes.,James Bond must unmask the mysterious head of ...,130.0,en,"Adventure, Action, Thriller",James Bond Collection,Released,1995-11-16,1995.0,14.686036,6.6,"United Artists, Eon Productions","United Kingdom, United States of America","English, Pусский, Español",352194034.0,58000000.0,6.072311,"Martin Campbell, Ian Fleming, Jeffrey Caine, B..."
10,9087,The American President,Why can't the most powerful man in the world h...,"Widowed U.S. president Andrew Shepherd, one of...",106.0,en,"Comedy, Drama, Romance",,Released,1995-11-17,1995.0,6.318445,6.5,"Columbia Pictures, Castle Rock Entertainment",United States of America,English,107879496.0,62000000.0,1.739992,"John Seale, Rob Reiner, Rob Reiner, Robert Lei..."
11,12110,Dracula: Dead and Loving It,NaN,When a lawyer shows up at the vampire's doorst...,88.0,en,"Comedy, Horror",,Released,1995-12-22,1995.0,5.430331,5.7,"Columbia Pictures, Castle Rock Entertainment, ...","France, United States of America","English, Deutsch",0.0,0.0,0.000000,"Adam Weiss, Mel Brooks, Mel Brooks, Mel Brooks..."
12,21032,Balto,Part Dog. Part Wolf. All Hero.,An outcast half-wolf risks his life to prevent...,78.0,en,"Family, Animation, Adventure",Balto Collection,Released,1995-12-22,1995.0,12.140733,7.1,"Universal Pictures, Amblin Entertainment, Ambl...",United States of America,English,11348324.0,0.0,inf,"Steven Spielberg, Kathleen Kennedy, Roger S.H...."
13,10858,Nixon,"Triumphant in Victory, Bitter in Defeat. He Ch...",An all-star cast powers this epic look at Amer...,192.0,en,"History, Drama",,Released,1995-12-22,1995.0,5.092,7.1,"Hollywood Pictures, Cinergi Pictures Entertain...",United States of America,English,13681765.0,44000000.0,0.310949,"Oliver Stone, Oliver Stone, Dan Halsted, John ..."
14,1408,Cutthroat Island,The Course Has Been Set. There Is No Turning B...,"Morgan Adams and her slave, William Shaw, are ...",119.0,en,"Action, Adventure",,Released,1995-12-22,1995.0,7.284477,5.7,"Le Studio Canal+, Laurence Mark Productions, M...","France, Germany, Italy, United States of America","English, Latin",10017322.0,98000000.0,0.102218,"Peter Levy, Maggie Gray, Norman Garwood, Mario..."
15,524,Casino,No one stays at the top forever.,The life of the gambling paradise – Las Vegas ...,178.0,en,"Drama, Crime",,Released,1995-11-22,1995.0,10.137389,7.8,"Universal Pictures, Légende Entreprises, Syali...","France, United States of America",English,116112375.0,52000000.0,2.232930,"Martin Scorsese, Barbara De Fina, Robert Richa..."
16,4584,Sense and Sensibility,Lose your heart and come to your senses.,"Rich Mr. Dashwood dies, leaving his second wif...",136.0,en,"Drama, Romance",,Released,1995-12-13,1995.0,10.673167,7.2,"Columbia Pictures Corporation, Mirage Enterprises","United Kingdom, United States of America",English,135000000.0,16500000.0,8.181818,"Ang Lee, Jane Austen, Emma Thompson, Lindsay D..."
17,5,Four Rooms,Twelve outrageous guests. Four scandalous requ...,It's Ted the Bellhop's first night on the job....,98.0,en,"Crime, Comedy",,Released,1995-12-09,1995.0,9.026586,6.5,"Miramax Films, A Band Apart",United States of America,English,4300000.0,4000000.0,1.075000,"Combustible Edison, Gary Frutkoff, Lance Brown..."
18,9273,Ace Ventura: When Nature Calls,New animals. New adventures. Same hair.,"Summoned from an ashram in Tibet, Ace finds hi...",90.0,en,"Crime, Comedy, Adventure",Ace Ventura Collection,Released,1995-11-10,1995.0,8.205448,6.1,"O Entertainment, Warner Bros., Morgan Creek Pr...",United States of America,English,212385533.0,30000000.0,7.079518,"Steve Oedekerk, Jack Bernstein, Steve Oedekerk..."
19,11517,Money Train,"Get on, or GET OUT THE WAY!",A vengeful New York transit cop decides to ste...,103.0,en,"Action, Comedy, Crime",,Released,1995-11-21,1995.0,7.337906,5.4,Columbia Pictures,United States of America,English,35431113.0,60000000.0,0.590519,"Joseph Ruben, Doug Richardson, Neil Canton, Tr..."
20,8012,Get Shorty,"The mob is tough, but it’s nothing like show b...",Chili Palmer is a Miami mobster who gets sent ...,105.0,en,"Comedy, Thriller, Crime",Chili Palmer Collection,Released,1995-10-20,1995.0,12.669608,6.4,"Jersey Films, Metro-Goldwyn-Mayer (MGM)",United States of America,English,115101622.0,30250000.0,3.805012,"Barry Sonnenfeld, Elmore Leonard, Danny DeVito..."
21,1710,Copycat,One man is copying the most notorious killers ...,An agoraphobic psychologist and a female detec...,124.0,en,"Drama, Thriller",,Released,1995-10-27,1995.0,10.701801,6.5,"Regency Enterprises, New Regency Pictures",United States of America,"English, Deutsch",0.0,0.0,0.000000,"Mark Tarlov, Jon Amiel, Alan Heim, Jim Clark, ..."
22,9691,Assassins,"In the shadows of life, In the business of dea...",Assassin Robert Rath arrives at a funeral to k...,132.0,en,"Action, Adventure, Crime, Thriller",,Released,1995-10-06,1995.0,11.065939,6.0,"Silver Pictures, Canal+, Warner Bros., Dino De...","France, United States of America","English, Español, Nederlands",30303072.0,50000000.0,0.606061,"Richard Donner, Lilly Wachowski, Lana Wachowsk..."
23,12665,Powder,An extraordinary encounter with another human ...,Harassed by classmates who won't accept his sh...,111.0,en,"Drama, Fantasy, Science Fiction, Thriller",,Released,1995-10-27,1995.0,12.133094,6.3,"Caravan Pictures, Hollywood Pictures",United States of America,English,0.0,0.0,0.000000,"Victor Salva, Victor Salva, Roger Birnbaum, Ri..."
24,451,Leaving Las Vegas,I Love You... The Way You Are.,"Ben Sanderson, an alcoholic Hollywood screenwr...",112.0,en,"Drama, Romance",,Released,1995-10-27,1995.0,10.332025,7.1,"United Artists, Intial Productions",United States of America,English,49800000.0,3600000.0,13.833333,"Stuart Reynolds , Mike Figgis, Mike Figgis, Mi..."

guardo el csv final

In [51]:
final_mov= final.to_csv('final_movie.csv', index=False, header=True, sep=',')

In [52]:
final.head(0)

Empty DataFrame
Columns: [id, title, tagline, overview, runtime, original_language, Genre, Franquicia, status, release_date, release_year, popularity, vote_average, Company, Country, Spoken_Language, revenue, budget, return, Director]
Index: []

def peliculas_idioma( Idioma: str ): Se ingresa un idioma (como están escritos en el dataset, no hay que traducirlos!). Debe devolver la cantidad de películas producidas en ese idioma. Ejemplo de retorno: X cantidad de películas fueron estrenadas en idioma

In [ ]:
def peliculas_idioma(Idioma):
    count = 0
    for i in range(len(final)):
     if final['original_language']. iloc[i] == Idioma:
        count += 1
    resultado ={'CANTIDAD DE PELICULAS EN ESE IDIOMA': count}
    return resultado

In [ ]:
peliculas_idioma('fr')

{'CANTIDAD DE PELICULAS EN ESE IDIOMA': 2437}

def peliculas_duracion( Pelicula: str ): Se ingresa una pelicula. Debe devolver la duracion y el año. Ejemplo de retorno: X . Duración: x. Año: x

In [ ]:
def peliculas_duracion(Pelicula):
    pel_fil = final[(final['title']).str.contains(Pelicula, na = False)]
    duracion = pel_fil['runtime'].values[0] if not pel_fil.empty else None
    anio = pel_fil['release_year'].values[0] if not pel_fil.empty else None
    return{'PELICULA': Pelicula, 'DURACION': duracion, 'AÑO': anio}

In [ ]:
peliculas_duracion('Serendipity')

{'PELICULA': 'Serendipity', 'DURACION': 90.0, 'AÑO': 2001.0}

-def franquicia( Franquicia: str ): Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio
                    Ejemplo de retorno: La franquicia X posee X peliculas, una ganancia total de x y una ganancia promedio de xx

In [ ]:
def franquicia(franquicia):
   
    lista_peliculas_franquicia = final[(final['Franquicia'] == franquicia)].drop_duplicates(subset='id')

    
    cantidad_peliculas_franq = (lista_peliculas_franquicia).shape[0]
    revenue_franq = lista_peliculas_franquicia['revenue'].sum()
    promedio_franq = revenue_franq/cantidad_peliculas_franq

    return {'FRANQUICIA':franquicia, 'CANTIDAD':cantidad_peliculas_franq, 'GANANCIA TOTAL':revenue_franq, 'GANACIA PROMEDIO':promedio_franq}

In [ ]:
franquicia('Ace Ventura Collection')

{'FRANQUICIA': 'Ace Ventura Collection',
 'CANTIDAD': 3,
 'GANANCIA TOTAL': 319602929.0,
 'GANACIA PROMEDIO': 106534309.66666667}

def peliculas_pais( Pais: str ): Se ingresa un país (como están escritos en el dataset, no hay que traducirlos!), retornando la cantidad de peliculas producidas en el mismo.
                    Ejemplo de retorno: Se produjeron X películas en el país X

In [ ]:
def peliculas_pais(pais):
    # Filtramos el dataframe y contamos filas
    Filtro = final[(final['Country'] == pais)]
    Unicas = Filtro.drop_duplicates(subset='id')    
    Respuesta = Unicas.shape[0]
    
    return {'PAIS':pais, 'SE PRODUJERON':Respuesta}

In [ ]:
peliculas_pais('United States of America')

{'PAIS': 'United States of America', 'SE PRODUJERON': 17836}

def productoras_exitosas( Productora: str ): Se ingresa la productora, entregandote el revunue total y la cantidad de peliculas que realizo. Ejemplo de retorno: La productora X ha tenido un revenue de x

In [ ]:
def productoras_exitosas(productora): 
    '''Ingresas la productora, retornando la ganancia total y la cantidad de peliculas que produjeron
    ''' 
    # Filtramos el dataframe
    peliculas_producidas = final[(final['Company'] == productora)].drop_duplicates(subset='id')

    # Calculamos
    cantidad_producida = (peliculas_producidas).shape[0]
    revenue_prod = peliculas_producidas['revenue'].sum()

    return {'PRODUCTORA':productora, 'REVENUE':revenue_prod, 'CANTIDAD':cantidad_producida}

In [ ]:
productoras_exitosas('Universal Studios')

{'PRODUCTORA': 'Universal Studios', 'REVENUE': 178126093.0, 'CANTIDAD': 20}

def get_director( nombre_director ): Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma, en formato lista.

In [53]:
def get_director(nombre_director):
    retorno = []
    peliculas = []
    indice = []
    for index, row in final.iterrows():
        if nombre_director in row ['Director']:
            peliculas.append(row['title'])
            retorno.append(row['return'])
            indice.append(index)
        else:
            continue
    new_retorno = [valor for valor in retorno if valor != 0]
    retorno_final = sum(new_retorno)
    retorno_sum = sum (retorno)

    if len(peliculas) > 1:
        promedio = retorno_final/len(new_retorno)
        peliculas_seleccionadas = final.loc[indice]
        peliculas_part = []
        fecha_lanzamiento = []
        retorno = []
        costo = []
        revenue = []

        for _, fila in peliculas_seleccionadas.iterrows():
            peliculas_part.append(fila['title'])
            fecha_lanzamiento.append(fila['release_date'])
            revenue.append(fila['revenue'])
            costo.append(fila['budget'])
            retorno.append(fila['return'])

    return{'DIRECTOR':nombre_director, 'RETORNO TOTAL':retorno_final,'PELICULAS':peliculas_part,'ANIO':fecha_lanzamiento,'RETORNO_PELICULA':retorno,'BUDGE':costo,'REVENEU': revenue}

In [54]:
get_director('Peter Chelsom')

{'DIRECTOR': 'Peter Chelsom',
 'RETORNO TOTAL': 10.730407134920634,
 'PELICULAS': ['Hear My Song',
  'The Mighty',
  'Funny Bones',
  'Town & Country',
  'Serendipity',
  'Shall We Dance?',
  'Hannah Montana: The Movie',
  'Protektor',
  "L'Inhumaine"],
 'ANIO': ['1991-12-27',
  '1998-10-23',
  '1995-09-20',
  '2001-04-27',
  '2001-10-05',
  '2004-10-15',
  '2009-04-10',
  '2009-09-22',
  '1924-12-12'],
 'RETORNO_PELICULA': [0.0,
  0.0,
  0.0,
  0.11524767777777778,
  2.7684394285714284,
  3.4025692,
  4.444150828571429,
  0.0,
  0.0],
 'BUDGE': [0.0,
  0.0,
  0.0,
  90000000.0,
  28000000.0,
  50000000.0,
  35000000.0,
  0.0,
  0.0],
 'REVENEU': [0.0,
  0.0,
  0.0,
  10372291.0,
  77516304.0,
  170128460.0,
  155545279.0,
  0.0,
  0.0]}